/*Estilos*/
* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    background-color: black;
    color: white;
    padding: 2px 2px 2px 10px;
}
.text_aqua {
    color: aqua;
}
h2 {
    text-align: center;
    background-color:purple;
    color: white;
    font-style: italic;

}
h3 {
    text-align: right;
    background-color:aqua;
    text-decoration: underline;
}